<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarmclock">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlarmClock">
        <activity android:name=".title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>

        <activity android:name=".TextActivity">
        </activity>

<!--        <activity android:name=".AlarmStop"/>-->
        <receiver android:name=".AlarmBroadcastReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service android:name=".SoundService"/>
        <service android:name=".FootStep"/>
        <activity android:name=".usage"/>
        <activity android:name=".question"/>
        <activity android:name=".Help"/>
        <activity android:name=".WebShow" />
        <activity android:name=".stopAlarm"/>
        <activity android:name=".LevelShow"/>


    </application>

</manifest>